@import "./index.scss";

.filters__container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  box-shadow: 0 0 5px 3px $footer;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  font-size: 1rem;
  color: $main;
  margin: 0;
  @media (min-width: 520px) {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.input {
  border-radius: 8px;
  outline: none;
  margin: 5px 25px 5px 5px;
  font-family: $main-font;
  font-size: 1.3rem;
  background-color: $footer;
  width: 130px;
  border: solid 1px $footer;
  box-shadow: 0 0 1px 1px $footer;
}
.select {
  width: fit-content;
  margin: 10px;
  margin: 5px 25px 5px 5px;
}
.sort-button {
  background-color: $footer;
  text-transform: uppercase;
  height: fit-content;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0 0 1px 1px $header;
}

.reset {
  background-color: $header;
  text-transform: uppercase;
  color: $footer;
  height: 25px;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  box-shadow: 0 0 1px 1px $footer;
}


