@import "./index.scss";

.header {
  background: $header;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 300px;
  @media (min-width: 520px) {
    width: 400px;
  }
}

