//Colors
$header: #e71857;
$main: #00afc7;
$footer: #f7ee1a;

//Typography
$main-font: "Akaya Telivigala", cursive;

* {
  transition: all 0.65s ease;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: $main;
  font-family: $main-font;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.header {
  background: $header;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 400px;
}

.stripe {
  background: black;
  color: white;
  text-align: center;
}

.main {
  padding-bottom: 1rem;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0 0 5px 3px $footer;
  background-color: black;
}

.label {
  font-size: 2rem;
  color: $main;
  margin: 0;
}

.input {
  border-radius: 8px;
  outline: none;
  margin: 5px;
  font-family: $main-font;
  font-size: 1.3rem;
  background-color: $footer;
  width: 130px;
  border: solid 1px $footer;
  box-shadow: 0 0 1px 1px $footer;
}
.select {
  width: fit-content;
}

.sort-section {
  display: flex;
  align-items: center;
  color: $main;
}


.card-list {
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;

  @media (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 250px);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 210px);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 300px;
  background: lighten($main, 30%);
  border: 5px solid $header;
  outline: 1px solid black;
  position: relative;
  &:hover {
    background: white;
    border-color: $footer;
    box-shadow: 20px 20px 20px rgb(119, 113, 113);
    outline: none;
  }
}

.card-img {
  height: 170px;
  border: dotted black 1px;
  outline-offset: $footer;
  border-radius: 10px;
}

.card-title {
  color: desaturate($header, 10%);
  font-size: 20px;
  margin: 0;
  width: 200px;
  height: 48px;
}

.icons__container {
  display: flex;
  justify-content: space-around;
}

.icons__box {
  margin: 0;
  font-size: 12px;
  text-align: center;

  &--text {
    margin: 0;
    color: black;
  }

  &--icon {
    width: 25px;
    margin-bottom: -5px;
  }
}

.detail__main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.detail__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-top: 65px;
  max-width: 320px;
  max-height: 568px;
  background: lighten($main, 30%);
  border: 15px solid $header;
  outline: 5px solid black;

  &-img {
    width: 200px;
    border: solid black 2px;
    outline-offset: $footer;
    border-radius: 10px;
  }
  &-title {
    color: desaturate($header, 10%);
    font-size: 40px;
    margin: 0;
  }
  &-text {
    color: darken($main, 65%);
    font-size: 20px;
    margin: 0;
  }
}
.close__card {
  align-self: flex-end;
}

.footer {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  background: $footer;
  text-align: center;
  font-size: 13px;
  border-top: solid black 2px;
  &-icon {
    color: darken($main, 10%);
    font-size: large;
    animation: icon-spin infinite 9s linear;
    @keyframes icon-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &-link {
    color: $header;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
  }
}
