$header: #e71857;
$main: #00afc7;
$footer: #f7ee1a;

$main-font: "Akaya Telivigala", cursive;

* {
  transition: all 0.65s ease;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $main-font;
  position: relative;
  min-height: 100vh;
  margin: 0;
  background: $main;
}
