//Colors
$header: #e71857;
$main: #00afc7;
$footer: #f7ee1a;

//Typography
$main-font: "Akaya Telivigala", cursive;

* {
  transition: all 0.65s ease;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: $main;
  font-family: $main-font;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

//header
.header-top {
  background: $header;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 400px;
}

.stripe {
  background: black;
  color: white;
  text-align: center;
}

//main
.main {
  display: flex;
  flex-direction: column;
}

//input
.input-group {
  align-self: flex-end;
  margin: 10px;
  width: fit-content;
  padding: 10px;
  border: solid 2px $footer;
  background-color: black;
  border-radius: 20px;
}

.label {
  font-size: 30px;
  color: $main;
}

.input {
  border: none;
  border-bottom: solid 1px $footer;
  outline: none;
  margin: 5px;
  font-family: $main-font;
  font-size: 20px;
  background-color: black;
  color: $footer;
  width: 100px;
}

//card-item
.card-list {
  background: $main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

.card {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  background: lighten($main, 30%);
  border: 5px solid $header;
  outline: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    background: white;
    border-color: $footer;
    box-shadow: 20px 20px 20px rgb(119, 113, 113);
    outline: none;
  }
}

.card-title {
  color: desaturate($header, 10%);
  font-size: 28px;
  margin: 0;
}

.card-text {
  color: darken($main, 65%);
  font-size: 16px;
  margin: 0;
}

.card-img {
  height: 80px;
}

//footer
.footer {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  background: $footer;
  text-align: center;
  font-size: 13px;
  border-top: solid black 2px;
  &-icon {
    color: darken($main, 10%);
    font-size: large;
    animation: icon-spin infinite 9s linear;
    @keyframes icon-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &-link {
    color: $header;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
  }
}

.close__card {
  align-self: flex-end;
}
